<div class="confirm-overlay" id="confirmOverlay">

    <div class="confirm-modal">

        <div class="confirm-icon">

            <i class="fa-solid fa-circle-question"></i>

        </div>

        <h2 id="confirmTitle">

            Confirmation

        </h2>

        <p id="confirmMessage">

            Are you sure?

        </p>

        <div class="confirm-buttons">

            <button id="confirmCancel">

                Cancel

            </button>

            <button id="confirmOk">

                Confirm

            </button>

        </div>

    </div>

</div>