<aside class="sidebar" id="sidebar">

    <!-- Logo -->

    <div class="sidebar-top">

        <a href="/dashboard/dashboard.html" class="sidebar-logo">

            Prime<span>Trade</span>

        </a>

        <button class="sidebar-close" id="closeSidebar">

            <i class="fa-solid fa-xmark"></i>

        </button>

    </div>

    <!-- Navigation -->

    <nav class="sidebar-menu">

        <a href="../dashboard/dashboard.html">

            <i class="fa-solid fa-house"></i>

            Dashboard

        </a>

        <a href="/dashboard/deposit.html">

            <i class="fa-solid fa-wallet"></i>

            Deposit

        </a>

        <a href="/dashboard/withdraw.html">

            <i class="fa-solid fa-money-bill-transfer"></i>

            Withdraw

        </a>

        <a href="/dashboard/investments.html">

            <i class="fa-solid fa-chart-line"></i>

            Investments

        </a>

       <!--==========================================================
TRANSACTIONS
===========================================================-->

<div class="sidebar-dropdown">

    <button class="dropdown-toggle" id="transactionToggle">

        <span>

            <i class="fa-solid fa-clock-rotate-left"></i>

            Transactions

        </span>

        <i class="fa-solid fa-chevron-down dropdown-arrow"></i>

    </button>

    <div class="dropdown-menu" id="transactionMenu">

        <a href="/dashboard/transactions.html">

            <i class="fa-solid fa-receipt"></i>

            History

        </a>

    </div>

</div>

        <a href="/dashboard/wallets.html">

            <i class="fa-brands fa-bitcoin"></i>

            Wallets

        </a>

        <a href="/dashboard/kyc.html">

            <i class="fa-solid fa-id-card"></i>

            KYC

        </a>

    </nav>

    <!-- Logout -->

    <div class="sidebar-bottom">

        <button id="logoutBtn">

            <i class="fa-solid fa-right-from-bracket"></i>

            Logout

        </button>

    </div>

</aside>

<div class="sidebar-overlay" id="sidebarOverlay"></div>

<button class="menu-toggle" id="openSidebar">

    <i class="fa-solid fa-bars"></i>

</button>